<section class="image-container">
    <div class="panvirenPersonalCSS">
        <img src="../../assets/images/myimage.png" width="100%" height="200" alt="Personal Image" class="round-image">
        <p [ngStyle]="{
            'textAlign': 'center',
            'fontFamily': 'cursive',
        }">{{ panvirenFdata.panvirenImageName }}</p>
    
    </div>

    <div class="panvirenCountryCSS">
        <img src="../../assets/images/flag.jpg" width="100%" height="200" alt="Country Flag">
        <p [ngStyle]="{
            'textAlign': 'center',
            'fontFamily': 'cursive',
        }">{{ panvirenFdata.panvirenFlagImageName }}</p>

    </div>
</section>
