
    <h2 [ngStyle]="{
      'textAlign': 'center',
      'padding': '10px',
      'fontWeight': 'bolder',
      'fontStyle': 'oblique',
      'fontFamily': 'cursive',
      'background' : 'orange',
      'border-top': '2px solid red',
        'border-bottom': '2px solid red' ,
      'fontVariant': 'small-caps',
      'color': '#000080',
         }">
          Country Name: {{ panvirenData.panvirenCountry}}
    </h2>

    <h2 [ngStyle]="{
      'textAlign': 'center',
      'padding': '7px',
      'fontWeight': 'bolder',
      'fontStyle': 'oblique',
      'fontFamily': 'cursive',
      'background' : 'white',
      'border-top': '2px solid red',
        'border-bottom': '2px solid red' ,
      'fontVariant': 'small-caps',
      'color': 'black',
         }">
          Country Capital: {{ panvirenData.panvirenCapitalCity}}
    </h2>
   
    <h2 [ngStyle]="{
      'textAlign': 'center',
      'padding': '4px',
      'fontWeight': 'bolder',
      'fontStyle': 'oblique',
      'fontFamily': 'cursive',
      'background' : 'green',
      'border-top': '2px solid red',
        'border-bottom': '2px solid red' ,
      'fontVariant': 'small-caps',
      'color': 'white',
    }">
      Average Salary: {{ panvirenData.panvirenAverageSalary}} Rupees
    </h2>
    
  