<div>
    <h2 [ngStyle]="{ 
        'textAlign': 'center',
        'padding': '7px',
        'fontWeight': 'bolder',
        'fontStyle': 'oblique',
        'fontFamily': 'cursive',
        'background' : 'lightblue',
        'border-top': '2px solid red',
          'border-bottom': '2px solid red' ,
        'fontVariant': 'small-caps',
        'color': 'black',
         }">
          My Name :{{panvirenMdata.panvirenName}}
    </h2>
  
    <h2 [ngStyle]="{
        'textAlign': 'center',
        'padding':'10px',
        'background':'lightyellow',
        'fontFamily': 'cursive',
         'border-top': '2px solid red',
          'border-bottom': '2px solid red' ,
          'fontWeight': 'bolder',
        }">
          Email :{{ panvirenMdata.panvirenEmail }}
        </h2>
    
  
    <h2 [ngStyle]="{
        'textAlign': 'center',
        'padding':'5px',
        'background':'lightgreen',
        'fontFamily': 'cursive',
         'border-top': '2px solid red',
          'border-bottom': '2px solid red' ,
          'fontWeight': 'bolder',
         }">
          Sheridan Home Campus :{{ panvirenMdata.panvirenCampus | uppercase }}</h2>
   
  </div>