<app-header-panviren [panvirenChild]="PERpanviren"></app-header-panviren>

<mat-tab-group>
  <mat-tab label="About / panviren [991664038] 😎">
  <app-panviren-about [panvirenMe]="PERpanviren"></app-panviren-about>
</mat-tab>
  <mat-tab label="Country / panviren [991664038] 👨‍💻">
  <app-panviren-country [panvirenData]="CTRYpanviren"></app-panviren-country>

</mat-tab>
  <mat-tab label="Pics / panviren [991664038] 😉">
  <app-panviren-pics [panvirenFlag]="PICSpanviren"></app-panviren-pics>

</mat-tab>

</mat-tab-group>